


body{
    font-family: 'sergoe UI', Tahoma, Geneva, Verdana, sans-serif, 'comic san ms';
    background-color: beige;
    margin-left:20px;
    font-size:16px; 
}

.important{
    color:darkred;
    background:white;
    border-style: solid;
    border-width:2px;
    border-color:black;
    border-radius: 10px;
    font-size: 1.3em;
    margin: 20px;
    padding-left:20px;
}



#menu {
    background-color: darksalmon;
    overflow:hidden;
    list-style-type: none;
}

li{
    float:right;
    border-left:solid;
    border-color:white;
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration:none;
}

li a:hover {
    background-color: black;
}

.active {
    background-color: darkgreen;
}

.container {
    background-color: darksalmon;
    padding: 20px;
    padding-top:5px;
    margin:10px;
    overflow:auto;
}

#imageRight {
    float:right;
    padding:10px;
    margin-left: 20px;
    border-style: solid;
    background-color: white;
}

#imageleft {
    float:left;
    padding:10px;
    margin-left: 20px;
    border-style: solid;
    background-color: white;

}
.flex-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:5%;
    margin-right:5%;
    padding: 10px;
    justify-content: space-around;
}

.image{
    padding:10px;
    border-style: solid;
    margin: 20px;
    background-color: white;
}